body {
    font-family: 'Oswald', sans-serif;
    background-color: #504150;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    
}

h1{
    color: #d1d1d1 !important;;
}

h3{
    margin: 7px;
}

td{
    min-width: 80px;
    color: #bd9f78;
}

th{
    color: #bd9f78;
}

input{
    background-color: #30271d;
    color: #bd9f78;
    font-weight: bold;
    text-align: center;
}

select{
    min-width: 60px;
    background-color: #30271d;
    color: #bd9f78;
    font-weight: bold;
    justify-content: left !important;
    text-align: left !important;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.file-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.file-selector.hidden {
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
}

.hidden{
    display: none;
}

.left-panel {
    width: 250px;
    background: #333;
    color: #ffffffcb;
    padding: 20px 0;
    height: 100vh;
    position: relative;
    z-index: 1;
    transition: transform 0.5s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
}

.left-panel.visible {
    transform: translateX(0);
}

.competition-list {
    overflow-y: auto;
    flex-grow: 1;
}

.main-panel {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: none;
    transition: margin-left 0.5s ease-in-out;
}

.main-panel.visible {
    display: block;
}

.level-container {
    margin-bottom: 10px;
}

.level-header {
    cursor: pointer;
    padding: 10px;
    background: #444;
    border: 1px solid #555;
    margin: 0;
}

.level-list {
    list-style-type: none; /* Remove bullets from list items */
    padding: 0;
    margin: 0;
}

.level-list li {
    padding: 5px 10px;
    cursor: pointer;
    border-bottom: 1px solid #444;
}

.level-list li:hover {
    background: #555;
}

h2 {
    padding-left: 3px; 
    margin-top: 12px;
    margin-bottom: 7px;
}

.level-0 {
    border-radius: 7px;
    margin-right: 7px;
    padding-left: 3px; 
    background-color: #504f4f;
    cursor: pointer;
    font-size: 18px;
}

.level-1 {
    padding-left: 5px !important; 
    background-color: #4B0000; /* Dark Red */
    font-size: 16px;
    border-radius: 7px;
    margin-right: 7px;
}

.level-2 {
    padding-left: 7px !important; 
    background-color: #004B00; /* Dark Green */
    font-size: 14px;
    border-radius: 7px;
    margin-right: 7px;
}

.level-3 {
    padding-left: 12px !important; 
    background-color: #00004B; /* Dark Blue */
    font-size: 14px;
    border-radius: 7px;
    margin-right: 7px;
}

.level-4 {
    padding-left: 17px !important; 
    background-color: #4B4B00; /* Dark Yellow */
    font-size: 12px;
    border-radius: 7px;
    margin-right: 7px;
}

.level-5 {
    padding-left: 23px !important; 
    background-color: #4B004B; /* Dark Purple */
    font-size: 12px;
    border-radius: 7px;
    margin-right: 7px;
}

.level-6 {
    padding-left: 27px !important; 
    background-color: #5a544b; /* Dark Purple */
    font-size: 11px;
    border-radius: 7px;
    margin-right: 7px;
}

ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Main panel divs for different levels */
.level-0-content {
    background-color: #504f4f;
    color: #cac6c6
}

.level-1-content {
    background-color: #4B0000; /* Dark Red */
    color: #cac6c6
}

.level-2-content {
    background-color: #004B00; /* Dark Green */
    color: #cac6c6
}

.level-3-content {
    background-color: #00004B; /* Dark Blue */
    color: #cac6c6
}

.level-4-content {
    background-color: #4B4B00; /* Dark Yellow */
    color: #cac6c6
}

.level-5-content {
    background-color: #4B004B; /* Dark Purple */
    color: #cac6c6
}

.level-6-content {
    background-color: #504a42; /* Dark Purple */
    color: #cac6c6
}

.toggle-button{
    background-color: #615d5d;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: none; /* Remove shadow */
}

#mainheader{
    color: white;
}

/* Styles for window-tables */
.window-tables {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 12px;
    font-size: 12px;
}

.window-tables th, .window-tables td {
    background-color: #777171;
    border: 1px solid #777171;
    text-align: left; /* Ensure consistent text alignment */
}

.window-tables th {
    background-color: #535050;
    text-align: left;
}

.window-tables tr:nth-child(even) {
    background-color: #535050;
}

.window-tables tr:hover {
    background-color: #535050;
}

/* Additional styling for better readability */
.window-tables td {
    background-color: #535050;
    color: #bd9f78;
    padding-left: 3px;
    padding-right: 5px;
}

.tablevalue {
    text-align: center;
    width: 100%; /* Full width to fit the cell */
}

.tablevalue-input {
    text-align: center;
    width: 100%; /* Full width to fit the cell */
    box-sizing: border-box; /* Ensure padding is included in width */
}

.window-tables tr td:first-child {
    font-weight: bold;
    background-color: #535050;
}

.standard-div h2 {
    margin-top: 0;
    font-size: 18px;
    text-align:center;
}

.standard-div{
    margin-bottom: 12px;
    height: 50%;
}

.create-button {
    margin-top: 12px;
}

/* Styles for windowcontainer */
#windowcontainer {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Styles for left and right divs */
.window-left, .window-right {
    flex: 1;
    padding: 10px;
    border: 1px solid #504e4e;
    height: 85%;
}

.groupedtables{
    margin-bottom:7px;
    border-radius: 7px;
    border:2px solid #635f5f
}


.groupedtables th, .groupedtables td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tablevalue-select {
    width: 100%;
}

.task-container{
    border: 2px solid grey;
    border-radius: 7px;
    margin-bottom: 7px;
    padding: 3px;
}

.task-row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    width: 100%;
}

.task-left {
    width: 35%;
    padding-right: 5px;
}

.task-right {
    width: 65%;
    display: flex;
}

.task-cell {
    flex: 1;
    margin-right: 5px;
}

.task-cell:last-child {
    margin-right: 0;
}

.description-select {
    width: 100%;
}

.input {
    min-width: 100%;
    box-sizing: border-box; /* Ensures padding is included in the width */
}

.message-modal {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    color: #bbbbbb;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 1;
    transform: translateY(0);
    transition: opacity 1s ease, transform 1s ease;
    z-index: 1000;
}

.message-modal.info {
    background-color: #36463d;
}

.message-modal.error {
    background-color: #581c1c;
}

.message-modal.fade-out {
    opacity: 0;
    transform: translateY(-20px);
}

.file-selector{
    background-color: #d4c09b;
    color: #36463d;
}

#fileSelect{
    background-color: #30271d;
    color: #bd9f78;
    font-weight: bold;
    text-align: center;   
}

input[type="file"] {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

/* Style the custom label as a button */
.custom-file-upload {
    display: inline-block;
    padding: 8px 12px;
    cursor: pointer;
    background-color: #30271d;
    color: #bd9f78;
    font-weight: bold;
    text-align: center;   
    border: none;
    border-radius: 4px;
    font-size: 14px;
}

/* Optionally, add hover and active states */
.custom-file-upload:hover {
    background-color: #5B2C6F; /* Darker shade on hover */
}

.custom-file-upload:active {
    background-color: #4A235A; /* Even darker shade on click */
}

#helper-text{
    text-align: left;
}

.competition-item {
    cursor: pointer;
}

.competition-item input {
    border: none;
    background: none;
    font: inherit;
    width: 100%;
}

.delete-button {
    cursor: pointer;
    color: red;
    margin-left: 10px;
    display: none;
}

.competition-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    height: 50%;
}

.competition-item:hover .delete-button {
    display: inline;
}

.confederations-container {
    width: 48%; /* Adjust as necessary */
    
}

ul {
    list-style-type: none;
    padding: 0;
}

.round-control, .entry-control {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.5;
}

.round-controls {
    display: inline-block;
    margin-left: 10px;
}

.round-control:hover, .entry-control:hover {
    color: #7c7c5a;
    font-weight:bold;
}

.round-control:active, .entry-control:active {
    color: #7c7c5a;
}

.download-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Adjust the size as necessary */
    color:rgb(199, 200, 218)
}

.download-button:hover {
    color: #6a7886; /* Change color on hover */
    
}